.borders {
  background-color: rgba(0, 0, 0, 0);
  margin: $padding;
  margin-bottom: 50px;
  border-radius: $outer-radius;
  box-shadow: 0px 0px 0px 20px $background;
  border: solid 1px $surface1;
}
