.settings-box {
  padding: $padding;
  border-radius: $outer-radius;
  background: $bg;
  border: 1px solid $border;
  button {
    background-color: $surface;
    border-radius: $inner-radius;
    label, image {
      padding: $padding;
    }
    &:hover {
      background-image: linear-gradient($surface2, $surface2);
    }
  }
  entry {
    background-color: $surface;
    border-radius: $inner-radius;
    padding: $padding;
  }
  .settings-menu {
    border-radius: $inner-radius;
    font-weight: bold;
    .wallpaper .icon {
      color: $red;
    }
    .colours .icon {
      color: $orange;
    }
    .selected {
      .icon {
        border-top-left-radius: $inner-radius;
        border-bottom-left-radius: $inner-radius;
      }
      &.wallpaper .icon {
        background-color: $red;
        color: $bg;
      }
      &.colours .icon {
        background-color: $orange;
        color: $bg;
      }
    }
  }
  .colourschemes {
    .filter-label {
      margin: $padding;
      font-style: italic;
      opacity: 0.4;
    }
    .polarity-button {
      &.selected {
        background-color: $accent;
        background-image: none;
        label {
          color: $background;
        }
      }
    }
    .colours-box-outer {
      border-radius: $inner-radius;
      background-color: $surface1;
      background-repeat: repeat;
      background-size: auto;
    }
    .colours-scroller {
      min-height: 300px;
      .colours-box {
        padding: $padding * 2;
      }
      .scheme-preview {
        //border: 1px solid $surface3;
        border-radius: $outer-radius;
        min-width: 300px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
        .header {
          label {
            font-weight: bold;
          }
          .window-buttons, .scheme-name {
            padding: $padding * 1.5;
          }
          .window-buttons label {
            font-family: "Font Awesome 7 Free";
            font-size: 15px;
          }
        }
        .body {
          padding: $padding * 1.5;
          .selected-text {
            font-style: italic;
            padding: $padding;
          }
          .title {
            font-weight: bold;
            font-size: 15pt;
          }
          .author-name {
            font-weight: normal;
            //opacity: 0.4;
            //font-style: italic;
            font-weight: normal;
          }
          .scheme-colours {
            //border-radius: $inner-radius;
            margin-top: $padding / 2;
            margin-bottom: $padding / 2;
            //padding: $padding;
            .colour {
              background-image: none;
            }
          }
        }
      }
    }
  }
  
  .fill-button label {
    // font-weight: bold;
  }
  .wp-scroller {
    min-height: 300px;
    min-width: 530px;
    background-color: $surface;
    border-radius: $inner-radius;
    .loading {
      //font-size: 13pt;
      font-style: italic;
      color: $surface4;
    }
    .wp-button-box {
      padding: $padding;
      button {
        label {
          padding-top: 0;
        }
        image {
          padding-bottom: 0;
        }
      }
    }
  }
  .wp-box {
    button {
      &:hover {
        background-image: linear-gradient($surface2);
      }
      &.selected {
        &:hover {
          background-image: none;
        }
        background-color: $accent;
        color: $bg;
        border-radius: $inner-radius;
        label {
          color: $bg;
        }
      }
      image {
      }
    }
  }
}
