.workspaces-scroll, .workspaces-box, .workspaces {
  border-radius: $outer-radius;
}

.workspaces {
  background: $background;
  border: 1px solid $border;
}

.workspaces-scroll {
  //border: 1px solid $border;
}

.workspaces-box {
  padding: $padding;
  .workspace-button {
    background-color: $surface1;
    border-radius: $inner-radius;
    &:hover {
      background-color: $surface2;
    }
    &.selected {
      background-color: $accent;
      label {
        color: $background;
      }
    }
    label {
      font-weight: bold;
      font-size: 19pt;
    }
  }
}
