.notif {
    padding: calc($padding * 2);
    border-radius: $outer-radius;
    .summary {
        font-weight: bold;
        font-size: 13pt;
    }
}

.notifs {
    .notif {
        background: $background;
        border: 1px solid $surface1;
    }
}

.notification-center {
    background: $background;
    border: 1px solid $surface1;
    border-radius: $outer-radius;
    padding: $padding;
    .notification-center-header {
        font-size: 19pt;
        font-weight: bold;
    }
    .notifs-scroller {
        min-width: calc(300px + calc($padding * 4));
        border-radius: $inner-radius;
        background: $surface1;
        .notifs-box {
            padding: $padding;
        }
    }
    .notif {
        background: $surface2;
        border-radius: $inner-radius;
        //border: 1px solid $surface2;
        &:hover {
            background: $surface3;
        }
    }
}