[general]
live-config = 1

[color]
gradient = 1
gradient_color_1 = '#{{red}}'
gradient_color_2 = '#{{orange}}'
gradient_color_3 = '#{{yellow}}'
gradient_color_4 = '#{{green}}'
gradient_color_5 = '#{{cyan}}'
gradient_color_6 = '#{{blue}}'
gradient_color_7 = '#{{purple}}'
gradient_color_8 = '#{{brown}}'