$background: #{{background}};
$surface1: #{{surface1}};
$surface2: #{{surface2}};
$surface3: #{{surface3}};
$surface4: #{{surface4}};
$foreground: #{{foreground}};
$foreground: #{{foreground}};
$foreground: #{{foreground}};
$red: #{{red}};
$orange: #{{orange}};
$yellow: #{{yellow}};
$green: #{{green}};
$cyan: #{{cyan}};
$blue: #{{blue}};
$purple: #{{purple}};
$brown: #{{brown}};
$accent: #{{accent}};

$bg: $background;
$fg: $foreground;
$disabled: #{{surface4}};
$surface: #{{surface1}};
$surface2: #{{surface2}};
$surface3: #{{surface3}};
$border: $surface1;
$image-shadow: none;
