[main]
dpi-aware=no
font=monospace:size=12
initial-color-theme=dark
pad=32x32
title=wagoogus
app-id=foot

[bell]
notify=no
system=yes

[cursor]
blink=yes
style=beam

[scrollback]
lines=500

[desktop-notifications]
command=notify-send --wait --app-name ${app-id} --icon ${app-id} --category ${category} --urgency ${urgency} --expire-time ${expire-time} --hint STRING:image-path:${icon} --hint BOOLEAN:suppress-sound:${muted} --hint STRING:sound-name:${sound-name} --replace-id ${replace-id} ${action-argument} --print-id -- ${title} ${body}
command-action-argument=--action ${action-name}=${action-label}
close=""
inhibit-when-focused=yes

[csd]
preferred=server

[colors-dark]
16={{base09}}
17={{base0F}}
18={{base01}}
19={{base02}}
20={{base04}}
21={{base06}}
alpha=1.000000
background={{base00}}
bright0={{base03}}
bright1={{base08}}
bright2={{base0B}}
bright3={{base0A}}
bright4={{base0D}}
bright5={{base0E}}
bright6={{base0C}}
bright7={{base07}}
foreground={{base05}}
regular0={{base00}}
regular1={{base08}}
regular2={{base0B}}
regular3={{base0A}}
regular4={{base0D}}
regular5={{base0E}}
regular6={{base0C}}
regular7={{base05}}


[colors-light]
16={{base09}}
17={{base0F}}
18={{base01}}
19={{base02}}
20={{base04}}
21={{base06}}
alpha=1.000000
background={{base00}}
bright0={{base03}}
bright1={{base08}}
bright2={{base0B}}
bright3={{base0A}}
bright4={{base0D}}
bright5={{base0E}}
bright6={{base0C}}
bright7={{base07}}
foreground={{base05}}
regular0={{base00}}
regular1={{base08}}
regular2={{base0B}}
regular3={{base0A}}
regular4={{base0D}}
regular5={{base0E}}
regular6={{base0C}}
regular7={{base05}}
