[main]
dpi-aware=no
font=monospace:size=12
initial-color-theme=dark
pad=32x32
title=wagoogus
app-id=foot

[bell]
notify=no
system=yes

[cursor]
blink=yes
style=beam

[scrollback]
lines=500

[desktop-notifications]
command=notify-send --wait --app-name ${app-id} --icon ${app-id} --category ${category} --urgency ${urgency} --expire-time ${expire-time} --hint STRING:image-path:${icon} --hint BOOLEAN:suppress-sound:${muted} --hint STRING:sound-name:${sound-name} --replace-id ${replace-id} ${action-argument} --print-id -- ${title} ${body}
command-action-argument=--action ${action-name}=${action-label}
close=""
inhibit-when-focused=yes

[csd]
preferred=server

[colors-dark]
16={{orange}}
17={{brown}}
18={{surface1}}
19={{surface2}}
20={{surface4}}
21={{foreground}}
alpha=1.000000
background={{background}}
bright0={{surface3}}
bright1={{red}}
bright2={{green}}
bright3={{yellow}}
bright4={{blue}}
bright5={{purple}}
bright6={{cyan}}
bright7={{foreground}}
foreground={{foreground}}
regular0={{background}}
regular1={{red}}
regular2={{green}}
regular3={{yellow}}
regular4={{blue}}
regular5={{purple}}
regular6={{cyan}}
regular7={{foreground}}


[colors-light]
16={{orange}}
17={{brown}}
18={{surface1}}
19={{surface2}}
20={{surface4}}
21={{foreground}}
alpha=1.000000
background={{background}}
bright0={{surface3}}
bright1={{red}}
bright2={{green}}
bright3={{yellow}}
bright4={{blue}}
bright5={{purple}}
bright6={{cyan}}
bright7={{foreground}}
foreground={{foreground}}
regular0={{background}}
regular1={{red}}
regular2={{green}}
regular3={{yellow}}
regular4={{blue}}
regular5={{purple}}
regular6={{cyan}}
regular7={{foreground}}
