@define-color accent_color #{{accent}};
@define-color accent_bg_color #{{accent}};
@define-color accent_fg_color #{{background}};
@define-color destructive_color #{{red}};
@define-color destructive_bg_color #{{red}};
@define-color destructive_fg_color #{{background}};
@define-color success_color #{{green}};
@define-color success_bg_color #{{green}};
@define-color success_fg_color #{{background}};
@define-color warning_color #{{purple}};
@define-color warning_bg_color #{{purple}};
@define-color warning_fg_color #{{background}};
@define-color error_color #{{red}};
@define-color error_bg_color #{{red}};
@define-color error_fg_color #{{background}};
@define-color window_bg_color #{{background}};
@define-color window_fg_color #{{foreground}};
@define-color view_bg_color #{{background}};
@define-color view_fg_color #{{foreground}};
@define-color headerbar_bg_color #{{background}};
@define-color headerbar_fg_color #{{foreground}};
@define-color headerbar_border_color #{{surface1}};
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.07);
@define-color sidebar_bg_color #{{background}};
@define-color sidebar_fg_color #{{foreground}};
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.07);
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_shade_color @sidebar_shade_color;
@define-color card_bg_color #{{background}};
@define-color card_fg_color #{{foreground}};
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color #{{background}};
@define-color dialog_fg_color #{{foreground}};
@define-color popover_bg_color #{{background}};
@define-color popover_fg_color #{{foreground}};
@define-color popover_shade_color rgba(0, 0, 0, 0.07);
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color scrollbar_outline_color #{{surface1}};
@define-color blue_1 #{{blue}};
@define-color blue_2 #{{blue}};
@define-color blue_3 #{{blue}};
@define-color blue_4 #{{blue}};
@define-color blue_5 #{{blue}};
@define-color green_1 #{{green}};
@define-color green_2 #{{green}};
@define-color green_3 #{{green}};
@define-color green_4 #{{green}};
@define-color green_5 #{{green}};
@define-color yellow_1 #{{yellow}};
@define-color yellow_2 #{{yellow}};
@define-color yellow_3 #{{yellow}};
@define-color yellow_4 #{{yellow}};
@define-color yellow_5 #{{yellow}};
@define-color orange_1 #{{orange}};
@define-color orange_2 #{{orange}};
@define-color orange_3 #{{orange}};
@define-color orange_4 #{{orange}};
@define-color orange_5 #{{orange}};
@define-color red_1 #{{red}};
@define-color red_2 #{{red}};
@define-color red_3 #{{red}};
@define-color red_4 #{{red}};
@define-color red_5 #{{red}};
@define-color purple_1 #{{purple}};
@define-color purple_2 #{{purple}};
@define-color purple_3 #{{purple}};
@define-color purple_4 #{{purple}};
@define-color purple_5 #{{purple}};
@define-color brown_1 #{{brown}};
@define-color brown_2 #{{brown}};
@define-color brown_3 #{{brown}};
@define-color brown_4 #{{brown}};
@define-color brown_5 #{{brown}};
@define-color light_1 #{{foreground}};
@define-color light_2 #{{foreground}};
@define-color light_3 #{{foreground}};
@define-color light_4 #{{foreground}};
@define-color light_5 #{{foreground}};
@define-color dark_1 #{{foreground}};
@define-color dark_2 #{{foreground}};
@define-color dark_3 #{{foreground}};
@define-color dark_4 #{{foreground}};
@define-color dark_5 #{{foreground}};

/* No (default) title bar on wayland */
headerbar.default-decoration {
  /* You may need to tweak these values depending on your GTK theme */
  border-radius: 0;
  border: 0;
  box-shadow: none;
  font-size: 0;
  margin-bottom: 50px;
  margin-top: -100px;
  min-height: 0;
  padding: 0;
}

.titlebar,
.titlebar .background
{
  border-radius: 0;
}

/* rm -rf window shadows */
window.csd, /* gtk4? */
window.csd decoration { /* gtk3 */
  border-radius: 0;
  box-shadow: none;
}

.dialog-action-area > .text-button {
  color: @dialog_fg_color;
}
