[Settings]
gtk-cursor-theme-size=32
gtk-font-name="sans 11"
gtk-theme-name=adw-gtk3
gtk-decoration-layout=menu:close
gtk-cursor-theme-name={{cursor_theme}}
gtk-icon-theme-name={{icon_theme}}
gtk-application-prefer-dark-theme={{prefer_dark_theme}}
