$text_color = rgb({{foreground}})
$entry_background_color = rgb({{surface1}})
$background_color = rgb({{background}})
$entry_border_color = rgb({{surface2}})
$entry_color = rgb({{foreground}})
$input_check_colour = rgb({{accent}})
$input_fail_colour = rgb({{red}})
$font_family = sans
$font_family_clock = sans
$text_shadow_size = 10
$text_shadow_boost = 1.7
$widget_shadow_size = 10
$shadow_colour = rgb(000000)