background = "rgb({{background}})"
surface1 = "rgb({{surface1}})"
surface2 = "rgb({{surface2}})"
surface3 = "rgb({{surface3}})"
surface4 = "rgb({{surface4}})"
foreground = "rgb({{foreground}})"
red = "rgb({{red}})"
yellow = "rgb({{yellow}})"
green = "rgb({{green}})"
blue = "rgb({{accent}})"
window_button1 = "rgb({{window_button1}})"
window_button2 = "rgb({{window_button2}})"
window_button3 = "rgb({{window_button3}})"
