actions=true
anchor=bottom-right
border-radius=16
border-size=1
default-timeout=5000
icons=true
layer=overlay
margin=4,0,0
outer-margin=4
padding=16
font=sans 11
background-color=#{{background}}
border-color=#{{surface1}}
progress-color=over #{{foreground}}
text-color=#{{foreground}}

[mode=do-not-disturb]
invisible=1
