actions=true
anchor=bottom-right
border-radius=16
border-size=1
default-timeout=5000
icons=true
layer=overlay
margin=4,0,0
outer-margin=4
padding=16
font=sans 11
background-color=#{{base00}}
border-color=#{{base01}}
progress-color=over #{{base05}}
text-color=#{{base05}}

[mode=do-not-disturb]
invisible=1
