mpd_host = localhost
mpd_port = 6600
mpd_connection_timeout = 5

mpd_music_dir = {{music_dir}}
mpd_crossfade_time = 1

visualizer_data_source = "/tmp/mpd.fifo"
visualizer_output_name = "Visualizer feed"
visualizer_in_stereo = yes
visualizer_type = "ellipse"
visualizer_spectrum_smooth_look = yes
visualizer_color = blue, cyan, green, yellow, magenta, red
visualizer_autoscale = yes

playlist_disable_highlight_delay = 0
playlist_show_remaining_time = yes
playlist_shorten_total_times = yes

progressbar_look = ░█
visualizer_look = +|

user_interface = alternative

display_volume_level = no
ignore_leading_the = yes

search_engine_default_search_mode = 2

lines_scrolled = 1

#startup_screen = media_library
media_library_primary_tag = album_artist

browser_display_mode = columns
search_engine_display_mode = columns
playlist_editor_display_mode = columns
autocenter_mode = yes
centered_cursor = yes
follow_now_playing_lyrics = yes
locked_screen_width_part = 60
display_bitrate = yes
use_console_editor = yes
header_window_color = blue
volume_color = magenta
state_line_color = yellow
state_flags_color = magenta
progressbar_color = yellow
statusbar_color = blue
external_editor = vim
empty_tag_marker =  -- ‼ -- 
alternative_ui_separator_color = white