export NEWT_COLORS='
	root=white,black
	border=black,lightgray
	window=lightgray,lightgray
	shadow=black,gray
	title=black,lightgray
	button=black,{{accent-hex}}
	actbutton=white,{{accent-hex}}
	compactbutton=black,lightgray
	checkbox=black,lightgray
	actcheckbox=lightgray,{{accent-hex}}
	entry=black,lightgray
	disentry=gray,lightgray
	label=black,lightgray
	listbox=black,lightgray
	actlistbox=black,{{accent-hex}}
	sellistbox=lightgray,black
	actsellistbox=lightgray,black
	textbox=black,lightgray
	acttextbox=black,{{accent-hex}}
	emptyscale=,gray
	fullscale=,{{accent-hex}}
	helpline=white,black
	roottext=lightgrey,black
	disabledentry={{surface3-hex}}
'