window#osd {
    padding: 0px;
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #{{background}};
    border: 1px solid #{{surface1}};
}

window#osd #container {
    color: #{{foreground}};
}

window#osd progress {
    background-color: #{{blue}};
}