{
    "workbench.colorCustomizations": {
        "foreground": "#{{base05}}",
        "disabledForeground": "#{{surface4}}",
        "widget.shadow": "#{{base00}}",
        "selection.background": "#{{base0D}}",
        "descriptionForeground": "#{{surface4}}",
        "errorForeground": "#{{base08}}",
        "icon.foreground": "#{{surface4}}",

        "textBlockQuote.background": "#{{surface1}}",
        "textBlockQuote.border": "#{{base0D}}",
        "textCodeBlock.background": "#{{base00}}",
        "textLink.activeForeground": "#{{base0C}}",
        "textLink.foreground": "#{{base0D}}",
        "textPreformat.foreground": "#{{base0D}}",
        "textSeparator.foreground": "#f0f",

        "toolbar.hoverBackground": "#{{surface4}}",
        "toolbar.activeBackground": "#{{surface2}}",

        "button.background": "#{{base0D}}",
        "button.foreground": "#{{base00}}",
        "button.hoverBackground": "#{{base0D}}",
        "button.secondaryForeground": "#{{base00}}",
        "button.secondaryBackground": "#{{base0E}}",
        "button.secondaryHoverBackground": "#{{base0E}}",
        "checkbox.background": "#{{base00}}",
        "checkbox.foreground": "#{{base0D}}",

        "dropdown.background": "#{{base00}}",
        "dropdown.listBackground": "#{{base00}}",
        "dropdown.foreground": "#{{base05}}",

        "input.background": "#{{base00}}",
        "input.foreground": "#{{base05}}",
        "input.placeholderForeground": "#{{surface4}}",
        "inputOption.activeBackground": "#{{surface2}}",
        "inputOption.activeBorder": "#{{base09}}",
        "inputOption.activeForeground": "#{{base05}}",
        "inputValidation.errorBackground": "#{{base08}}",
        "inputValidation.errorForeground": "#{{base05}}",
        "inputValidation.errorBorder": "#{{base08}}",
        "inputValidation.infoBackground": "#{{base0D}}",
        "inputValidation.infoForeground": "#{{base05}}",
        "inputValidation.infoBorder": "#{{base0D}}",
        "inputValidation.warningBackground": "#{{base0A}}",
        "inputValidation.warningForeground": "#{{base05}}",
        "inputValidation.warningBorder": "#{{base0A}}",

        "scrollbar.shadow": "#{{surface1}}",
        "scrollbarSlider.activeBackground": "#{{surface4}}",
        "scrollbarSlider.background": "#{{surface2}}",
        "scrollbarSlider.hoverBackground": "#{{surface4}}",

        "badge.background": "#{{base00}}",
        "badge.foreground": "#{{base05}}",

        "progressBar.background": "#{{surface4}}",

        "list.activeSelectionBackground": "#{{surface1}}",
        "list.activeSelectionForeground": "#{{base05}}",
        "list.dropBackground": "#{{base05}}",
        "list.focusBackground": "#{{surface1}}",
        "list.focusForeground": "#{{base05}}",
        "list.highlightForeground": "#{{base05}}",
        "list.hoverBackground": "#{{surface1}}",
        "list.hoverForeground": "#{{base05}}",
        "list.inactiveSelectionBackground": "#{{surface1}}",
        "list.inactiveSelectionForeground": "#{{base05}}",
        "list.inactiveFocusBackground": "#{{surface1}}",
        "list.invalidItemForeground": "#{{base08}}",
        "list.errorForeground": "#{{base08}}",
        "list.warningForeground": "#{{base0A}}",
        "listFilterWidget.background": "#{{base00}}",
        "listFilterWidget.noMatchesOutline": "#{{base08}}",
        "list.filterMatchBackground": "#{{surface1}}",
        "tree.indentGuidesStroke": "#{{surface2}}",

        "activityBar.background": "#{{base00}}",
        "activityBar.dropBackground": "#{{base05}}",
        "activityBar.inactiveForeground": "#{{surface4}}",
        "activityBarBadge.background": "#{{base0D}}",
        "activityBarBadge.foreground": "#{{base05}}",
        "activityBar.activeBackground": "#{{surface1}}",
        "activityBar.foreground": "#{{base05}}",
        "activityBar.activeBorder": "#{{base0D}}",

        "sideBar.background": "#{{base00}}",
        "sideBar.foreground": "#{{base05}}",
        "sideBar.dropBackground": "#{{surface1}}",
        "sideBarTitle.foreground": "#{{base05}}",
        "sideBarSectionHeader.background": "#{{surface1}}",
        "sideBarSectionHeader.foreground": "#{{base05}}",

        "minimap.findMatchHighlight": "#{{base0A}}",
        "minimap.selectionHighlight": "#{{surface2}}",
        "minimap.errorHighlight": "#{{base08}}",
        "minimap.warningHighlight": "#{{base0A}}",
        "minimap.background": "#{{base00}}",
        "minimap.selectionOccurrenceHighlight": "#{{surface4}}",
        "minimapGutter.addedBackground": "#{{base0B}}",
        "minimapGutter.modifiedBackground": "#{{base0E}}",
        "minimapGutter.deletedBackground": "#{{base08}}",

        "editorGroup.background": "#{{base00}}",
        "editorGroup.dropBackground": "#{{surface2}}",
        "editorGroupHeader.noTabsBackground": "#{{base00}}",
        "editorGroupHeader.tabsBackground": "#{{base00}}",
        "editorGroup.emptyBackground": "#{{base00}}",
        "editorGroup.dropIntoPromptForeground": "#{{base05}}",
        "editorGroup.dropIntoPromptBackground": "#{{base00}}",
        "tab.activeBackground": "#{{surface1}}",
        "tab.activeBorderTop": "#{{base0D}}",
        "tab.unfocusedActiveBackground": "#{{base00}}",
        "tab.activeForeground": "#{{base05}}",
        "tab.inactiveBackground": "#{{base00}}",
        "tab.inactiveForeground": "#{{surface4}}",
        "tab.unfocusedActiveForeground": "#{{surface4}}",
        "tab.unfocusedInactiveForeground": "#{{surface4}}",
        "tab.hoverBackground": "#{{surface2}}",
        "tab.unfocusedHoverBackground": "#{{surface2}}",
        "tab.activeModifiedBorder": "#{{base0D}}",
        "tab.inactiveModifiedBorder": "#{{base0D}}",
        "tab.unfocusedActiveModifiedBorder": "#{{base0D}}",
        "tab.unfocusedInactiveModifiedBorder": "#{{base0D}}",
        "editorPane.background": "#{{base00}}",

        "editor.background": "#{{base00}}",
        "editor.foreground": "#{{base05}}",
        "editorLineNumber.foreground": "#{{surface4}}",
        "editorLineNumber.activeForeground": "#{{surface4}}",
        "editorCursor.foreground": "#{{base05}}",
        "editor.selectionBackground": "#{{surface2}}",
        "editor.inactiveSelectionBackground": "#{{surface1}}",
        "editor.selectionHighlightBackground": "#{{surface3}}",
        "editor.wordHighlightBackground": "#{{surface3}}",
        "editor.wordHighlightStrongBackground": "#{{surface4}}",
        "editor.findMatchBackground": "#{{base0A}}",
        "editor.findMatchHighlightBackground": "#{{base09}}",
        "editor.findRangeHighlightBackground": "#{{surface1}}",
        "searchEditor.findMatchBackground": "#{{base0A}}",
        "editor.hoverHighlightBackground": "#{{surface2}}",
        "editor.lineHighlightBackground": "#{{surface1}}",
        "editorLink.activeForeground": "#{{base0D}}",
        "editor.rangeHighlightBackground": "#{{surface1}}",
        "editorWhitespace.foreground": "#{{surface4}}",
        "editorIndentGuide.background": "#{{surface4}}",
        "editorIndentGuide.activeBackground": "#{{surface4}}",
        "editorInlayHint.background": "#{{surface1}}",
        "editorInlayHint.foreground": "#{{base05}}",
        "editorInlayHint.typeBackground": "#{{surface1}}",
        "editorInlayHint.typeForeground": "#{{base05}}",
        "editorInlayHint.parameterBackground": "#{{surface1}}",
        "editorInlayHint.parameterForeground": "#{{base05}}",
        "editorRuler.foreground": "#{{surface4}}",
        "editorCodeLens.foreground": "#{{surface2}}",
        "editorLightBulb.foreground": "#{{base0A}}",
        "editorLightBulbAutoFix.foreground": "#{{base0D}}",
        "editorBracketMatch.background": "#{{surface2}}",
        "editorBracketHighlight.foreground1": "#{{base08}}",
        "editorBracketHighlight.foreground2": "#{{base09}}",
        "editorBracketHighlight.foreground3": "#{{base0A}}",
        "editorBracketHighlight.foreground4": "#{{base0B}}",
        "editorBracketHighlight.foreground5": "#{{base0D}}",
        "editorBracketHighlight.foreground6": "#{{base0E}}",
        "editorBracketHighlight.unexpectedBracket.foreground": "#{{base0F}}",
        "editorOverviewRuler.findMatchForeground": "#{{base0A}}",
        "editorOverviewRuler.rangeHighlightForeground": "#{{surface4}}",
        "editorOverviewRuler.selectionHighlightForeground": "#{{surface2}}",
        "editorOverviewRuler.wordHighlightForeground": "#{{base05}}",
        "editorOverviewRuler.wordHighlightStrongForeground": "#{{base0D}}",
        "editorOverviewRuler.modifiedForeground": "#{{base0E}}",
        "editorOverviewRuler.addedForeground": "#{{base0B}}",
        "editorOverviewRuler.deletedForeground": "#{{base08}}",
        "editorOverviewRuler.errorForeground": "#{{base08}}",
        "editorOverviewRuler.warningForeground": "#{{base0A}}",
        "editorOverviewRuler.infoForeground": "#{{base0C}}",
        "editorOverviewRuler.bracketMatchForeground": "#{{base05}}",
        "editorError.foreground": "#{{base08}}",
        "editorWarning.foreground": "#{{base0A}}",
        "editorInfo.foreground": "#{{base0C}}",
        "editorHint.foreground": "#{{base0D}}",
        "problemsErrorIcon.foreground": "#{{base08}}",
        "problemsWarningIcon.foreground": "#{{base0A}}",
        "problemsInfoIcon.foreground": "#{{base0C}}",
        "editorGutter.background": "#{{base00}}",
        "editorGutter.modifiedBackground": "#{{base0E}}",
        "editorGutter.addedBackground": "#{{base0B}}",
        "editorGutter.deletedBackground": "#{{base08}}",
        "editorGutter.commentRangeForeground": "#{{surface4}}",
        "editorGutter.foldingControlForeground": "#{{base05}}",

        "diffEditor.insertedTextBackground": "#{{base0B}}20",
        "diffEditor.removedTextBackground": "#{{base08}}20",
        "diffEditor.diagonalFill": "#{{surface2}}",

        "editorWidget.foreground": "#{{base05}}",
        "editorWidget.background": "#{{base00}}",
        "editorSuggestWidget.background": "#{{surface1}}",
        "editorSuggestWidget.foreground": "#{{base05}}",
        "editorSuggestWidget.focusHighlightForeground": "#{{base05}}",
        "editorSuggestWidget.highlightForeground": "#{{base0D}}",
        "editorSuggestWidget.selectedBackground": "#{{surface2}}",
        "editorSuggestWidget.selectedForeground": "#{{base05}}",
        "editorHoverWidget.foreground": "#{{base05}}",
        "editorHoverWidget.background": "#{{base00}}",
        "debugExceptionWidget.background": "#{{surface1}}",
        "editorMarkerNavigation.background": "#{{surface1}}",
        "editorMarkerNavigationError.background": "#{{base08}}",
        "editorMarkerNavigationWarning.background": "#{{base0A}}",
        "editorMarkerNavigationInfo.background": "#{{base0D}}",
        "editorMarkerNavigationError.headerBackground": "#{{base08}}20",
        "editorMarkerNavigationWarning.headerBackground": "#{{base0A}}20",
        "editorMarkerNavigationInfo.headerBackground": "#{{base0C}}20",

        "peekViewEditor.background": "#{{surface1}}",
        "peekViewEditorGutter.background": "#{{surface1}}",
        "peekViewEditor.matchHighlightBackground": "#{{base09}}",
        "peekViewResult.background": "#{{base00}}",
        "peekViewResult.fileForeground": "#{{base05}}",
        "peekViewResult.lineForeground": "#{{surface4}}",
        "peekViewResult.matchHighlightBackground": "#{{base09}}",
        "peekViewResult.selectionBackground": "#{{surface2}}",
        "peekViewResult.selectionForeground": "#{{base05}}",
        "peekViewTitle.background": "#{{surface2}}",
        "peekViewTitleDescription.foreground": "#{{surface4}}",
        "peekViewTitleLabel.foreground": "#{{base05}}",

        "merge.currentContentBackground": "#{{base0D}}40",
        "merge.currentHeaderBackground": "#{{base0D}}40",
        "merge.incomingContentBackground": "#{{base0B}}60",
        "merge.incomingHeaderBackground": "#{{base0B}}60",
        "editorOverviewRuler.currentContentForeground": "#{{base0D}}",
        "editorOverviewRuler.incomingContentForeground": "#{{base0B}}",
        "editorOverviewRuler.commonContentForeground": "#{{base0F}}",

        "panel.background": "#{{base00}}",
        "panel.dropBackground": "#{{surface1}}",
        "panel.dropBorder": "#{{surface1}}",
        "panelTitle.activeForeground": "#{{base05}}",
        "panelTitle.inactiveForeground": "#{{surface4}}",

        "statusBar.background": "#{{surface1}}",
        "statusBar.foreground": "#{{base05}}",
        "statusBar.debuggingBackground": "#{{surface1}}",
        "statusBar.debuggingForeground": "#{{base05}}",
        "statusBar.noFolderBackground": "#{{surface1}}",
        "statusBar.noFolderForeground": "#{{base05}}",
        "statusBarItem.activeBackground": "#{{surface2}}",
        "statusBarItem.hoverBackground": "#{{surface2}}",
        "statusBarItem.prominentForeground": "#{{base05}}",
        "statusBarItem.prominentBackground": "#{{surface1}}",
        "statusBarItem.prominentHoverBackground": "#{{surface2}}",
        "statusBarItem.remoteBackground": "#{{surface1}}",
        "statusBarItem.remoteForeground": "#{{base05}}",
        "statusBarItem.errorBackground": "#{{surface1}}",
        "statusBarItem.errorForeground": "#{{base05}}",
        "statusBarItem.warningBackground": "#{{surface1}}",
        "statusBarItem.warningForeground": "#{{base05}}",

        "titleBar.activeBackground": "#{{base00}}",
        "titleBar.activeForeground": "#{{base05}}",
        "titleBar.inactiveBackground": "#{{surface1}}",
        "titleBar.inactiveForeground": "#{{surface4}}",

        "menubar.selectionForeground": "#{{base05}}",
        "menubar.selectionBackground": "#{{surface1}}",
        "menu.foreground": "#{{base05}}",
        "menu.background": "#{{base00}}",
        "menu.selectionForeground": "#{{base05}}",
        "menu.selectionBackground": "#{{surface1}}",
        "menu.separatorBackground": "#{{base05}}",

        "commandCenter.foreground": "#{{base05}}",
        "commandCenter.activeForeground": "#{{base05}}",
        "commandCenter.background": "#{{base00}}",
        "commandCenter.activeBackground": "#{{surface1}}",

        "notificationCenterHeader.foreground": "#{{base05}}",
        "notificationCenterHeader.background": "#{{surface1}}",
        "notifications.foreground": "#{{base05}}",
        "notifications.background": "#{{surface2}}",
        "notificationLink.foreground": "#{{base0D}}",
        "notificationsErrorIcon.foreground": "#{{base08}}",
        "notificationsWarningIcon.foreground": "#{{base0A}}",
        "notificationsInfoIcon.foreground": "#{{base0D}}",

        "notification.background": "#{{surface2}}",
        "notification.foreground": "#{{base05}}",
        "notification.buttonBackground": "#{{base0D}}",
        "notification.buttonHoverBackground": "#{{surface2}}",
        "notification.buttonForeground": "#{{base05}}",
        "notification.infoBackground": "#{{base0C}}",
        "notification.infoForeground": "#{{base00}}",
        "notification.warningBackground": "#{{base0A}}",
        "notification.warningForeground": "#{{base00}}",
        "notification.errorBackground": "#{{base08}}",
        "notification.errorForeground": "#{{base00}}",

        "banner.background": "#{{surface2}}",
        "banner.foreground": "#{{base05}}",
        "banner.iconForeground": "#{{base0D}}",

        "extensionButton.prominentBackground": "#{{base0B}}",
        "extensionButton.prominentForeground": "#{{base00}}",
        "extensionButton.prominentHoverBackground": "#{{surface2}}",
        "extensionBadge.remoteBackground": "#{{base09}}",
        "extensionBadge.remoteForeground": "#{{base05}}",
        "extensionIcon.starForeground": "#{{base0A}}",
        "extensionIcon.verifiedForeground": "#{{base0D}}",
        "extensionIcon.preReleaseForeground": "#{{base09}}",

        "pickerGroup.foreground": "#{{surface4}}",
        "quickInput.background": "#{{surface1}}",
        "quickInput.foreground": "#{{base05}}",
        "quickInputList.focusBackground": "#{{surface4}}",
        "quickInputList.focusForeground": "#{{base05}}",
        "quickInputList.focusIconForeground": "#{{base05}}",

        "keybindingLabel.background": "#{{surface2}}",
        "keybindingLabel.foreground": "#{{base05}}",

        "keybindingTable.headerBackground": "#{{surface2}}",
        "keybindingTable.rowsBackground": "#{{surface1}}",

        "terminal.background": "#{{base00}}",
        "terminal.foreground": "#{{base05}}",
        "terminal.ansiBlack": "#{{base00}}",
        "terminal.ansiRed": "#{{base08}}",
        "terminal.ansiGreen": "#{{base0B}}",
        "terminal.ansiYellow": "#{{base0A}}",
        "terminal.ansiBlue": "#{{base0D}}",
        "terminal.ansiMagenta": "#{{base0E}}",
        "terminal.ansiCyan": "#{{base0C}}",
        "terminal.ansiWhite": "#{{base05}}",
        "terminal.ansiBrightBlack": "#{{surface4}}",
        "terminal.ansiBrightRed": "#{{base08}}",
        "terminal.ansiBrightGreen": "#{{base0B}}",
        "terminal.ansiBrightYellow": "#{{base0A}}",
        "terminal.ansiBrightBlue": "#{{base0D}}",
        "terminal.ansiBrightMagenta": "#{{base0E}}",
        "terminal.ansiBrightCyan": "#{{base0C}}",
        "terminal.ansiBrightWhite": "#{{base05}}",
        "terminalCursor.foreground": "#{{base05}}",
        "terminalOverviewRuler.cursorForeground": "#ff0000",
        "terminalOverviewRuler.findMatchForeground": "#ff0000",
        
        "debugToolBar.background": "#{{surface1}}",
        "debugView.stateLabelForeground": "#{{base05}}",
        "debugView.stateLabelBackground": "#{{base0D}}",
        "debugView.valueChangedHighlight": "#{{base0D}}",
        "debugTokenExpression.name": "#{{base0E}}",
        "debugTokenExpression.value": "#{{base05}}",
        "debugTokenExpression.string": "#{{base0B}}",
        "debugTokenExpression.boolean": "#{{base09}}",
        "debugTokenExpression.number": "#{{base09}}",
        "debugTokenExpression.error": "#{{base08}}",

        "testing.iconFailed": "#{{base08}}",
        "testing.iconErrored": "#{{base0F}}",
        "testing.iconPassed": "#{{base0B}}",
        "testing.runAction": "#{{surface4}}",
        "testing.iconQueued": "#{{base0A}}",
        "testing.iconUnset": "#{{surface4}}",
        "testing.iconSkipped": "#{{base0E}}",
        "testing.peekHeaderBackground": "#{{surface1}}",
        "testing.message.error.decorationForeground": "#{{base05}}",
        "testing.message.error.lineBackground": "#{{base08}}20",
        "testing.message.info.decorationForeground": "#{{base05}}",
        "testing.message.info.lineBackground": "#{{base0D}}20",

        "welcomePage.background": "#{{base00}}",
        "welcomePage.buttonBackground": "#{{surface1}}",
        "welcomePage.buttonHoverBackground": "#{{surface2}}",
        "welcomePage.progress.background": "#{{surface4}}",
        "welcomePage.progress.foreground": "#{{base0D}}",
        "welcomePage.tileBackground": "#{{surface1}}",
        "welcomePage.tileHoverBackground": "#{{surface2}}",
        "walkThrough.embeddedEditorBackground": "#{{base00}}",


        "gitDecoration.addedResourceForeground": "#{{base0B}}",
        "gitDecoration.modifiedResourceForeground": "#{{base0E}}",
        "gitDecoration.deletedResourceForeground": "#{{base08}}",
        "gitDecoration.renamedResourceForeground": "#{{base0C}}",
        "gitDecoration.stageModifiedResourceForeground": "#{{base0E}}",
        "gitDecoration.stageDeletedResourceForeground": "#{{base08}}",
        "gitDecoration.untrackedResourceForeground": "#{{base09}}",
        "gitDecoration.ignoredResourceForeground": "#{{surface4}}",
        "gitDecoration.conflictingResourceForeground": "#{{base0A}}",
        "gitDecoration.submoduleResourceForeground": "#{{base0F}}",

        "settings.headerForeground": "#{{base05}}",
        "settings.modifiedItemIndicator": "#{{base0D}}",
        "settings.modifiedItemForeground": "#{{base0B}}",
        "settings.dropdownBackground": "#{{surface1}}",
        "settings.dropdownForeground": "#{{base05}}",
        "settings.checkboxBackground": "#{{surface1}}",
        "settings.checkboxForeground": "#{{base05}}",
        "settings.rowHoverBackground": "#{{surface2}}",
        "settings.textInputBackground": "#{{surface1}}",
        "settings.textInputForeground": "#{{base05}}",
        "settings.numberInputBackground": "#{{surface1}}",
        "settings.numberInputForeground": "#{{base05}}",
        "settings.focusedRowBackground": "#{{surface2}}",
        "settings.headerBorder": "#{{base05}}",
        "settings.sashBorder": "#{{base05}}",

        "breadcrumb.foreground": "#{{base05}}",
        "breadcrumb.background": "#{{base00}}",
        "breadcrumb.focusForeground": "#{{base05}}",
        "breadcrumb.activeSelectionForeground": "#{{base05}}",
        "breadcrumbPicker.background": "#{{surface1}}",

        "editor.snippetTabstopHighlightBackground": "#{{surface2}}",
        "editor.snippetFinalTabstopHighlightBackground": "#{{surface4}}",

        "symbolIcon.arrayForeground": "#{{base05}}",
        "symbolIcon.booleanForeground": "#{{base09}}",
        "symbolIcon.classForeground": "#{{base0A}}",
        "symbolIcon.colorForeground": "#f0f",
        "symbolIcon.constantForeground": "#{{base09}}",
        "symbolIcon.constructorForeground": "#{{base0D}}",
        "symbolIcon.enumeratorForeground": "#{{base09}}",
        "symbolIcon.enumeratorMemberForeground": "#{{base0D}}",
        "symbolIcon.eventForeground": "#{{base0A}}",
        "symbolIcon.fieldForeground": "#{{base08}}",
        "symbolIcon.fileForeground": "#{{base05}}",
        "symbolIcon.folderForeground": "#{{base05}}",
        "symbolIcon.functionForeground": "#{{base0D}}",
        "symbolIcon.interfaceForeground": "#{{base0D}}",
        "symbolIcon.keyForeground": "#f0f",
        "symbolIcon.keywordForeground": "#{{base0E}}",
        "symbolIcon.methodForeground": "#{{base0D}}",
        "symbolIcon.moduleForeground": "#{{base05}}",
        "symbolIcon.namespaceForeground": "#{{base05}}",
        "symbolIcon.nullForeground": "#{{base0F}}",
        "symbolIcon.numberForeground": "#{{base09}}",
        "symbolIcon.objectForeground": "#f0f",
        "symbolIcon.operatorForeground": "#f0f",
        "symbolIcon.packageForeground": "#f0f",
        "symbolIcon.propertyForeground": "#{{base05}}",
        "symbolIcon.referenceForeground": "#f0f",
        "symbolIcon.snippetForeground": "#{{base05}}",
        "symbolIcon.stringForeground": "#{{base0B}}",
        "symbolIcon.structForeground": "#{{base0A}}",
        "symbolIcon.textForeground": "#{{base05}}",
        "symbolIcon.typeParameterForeground": "#f0f",
        "symbolIcon.unitForeground": "#f0f",
        "symbolIcon.variableForeground": "#{{base08}}",

        "debugIcon.breakpointForeground": "#{{base08}}",
        "debugIcon.breakpointDisabledForeground": "#{{surface4}}",
        "debugIcon.breakpointUnverifiedForeground": "#{{surface2}}",
        "debugIcon.breakpointCurrentStackframeForeground": "#{{base0A}}",
        "debugIcon.breakpointStackframeForeground": "#{{base0F}}",
        "debugIcon.startForeground": "#{{base0B}}",
        "debugIcon.pauseForeground": "#{{base0D}}",
        "debugIcon.stopForeground": "#{{base08}}",
        "debugIcon.disconnectForeground": "#{{base08}}",
        "debugIcon.restartForeground": "#{{base0B}}",
        "debugIcon.stepOverForeground": "#{{base0D}}",
        "debugIcon.stepIntoForeground": "#{{base0C}}",
        "debugIcon.stepOutForeground": "#{{base0E}}",
        "debugIcon.continueForeground": "#{{base0B}}",
        "debugIcon.stepBackForeground": "#{{base0F}}",
        "debugConsole.infoForeground": "#{{base05}}",
        "debugConsole.warningForeground": "#{{base0A}}",
        "debugConsole.errorForeground": "#{{base08}}",
        "debugConsole.sourceForeground": "#{{base05}}",
        "debugConsoleInputIcon.foreground": "#{{base05}}",

        "notebook.editorBackground": "#{{base00}}",
        "notebook.cellBorderColor": "#{{surface4}}",
        "notebook.cellHoverBackground": "#{{surface1}}",
        "notebook.cellToolbarSeparator": "#{{surface2}}",
        "notebook.cellEditorBackground": "#{{base00}}",
        "notebook.focusedCellBackground": "#{{surface2}}",
        "notebook.focusedCellBorder": "#{{base0D}}",
        "notebook.focusedEditorBorder": "#{{base0D}}",
        "notebook.inactiveFocusedCellBorder": "#{{surface4}}",
        "notebook.selectedCellBackground": "#{{surface2}}",
        "notebookStatusErrorIcon.foreground": "#{{base08}}",
        "notebookStatusRunningIcon.foreground": "#{{base0C}}",
        "notebookStatusSuccessIcon.foreground": "#{{base0B}}",

        "charts.foreground": "#{{base05}}",
        "charts.lines": "#{{base05}}",
        "charts.red": "#{{base08}}",
        "charts.blue": "#{{base0D}}",
        "charts.yellow": "#{{base0A}}",
        "charts.orange": "#{{base09}}",
        "charts.green": "#{{base0B}}",
        "charts.purple": "#{{base0E}}",

        "ports.iconRunningProcessForeground": "#{{base09}}"
    }
}