{
    "window.zoomLevel": 0,
    "editor.fontFamily": "monospace, 'Font Awesome 7 Free'",
    "editor.inlayHints.fontFamily": "monospace",
    "editor.inlineSuggest.fontFamily": "monospace",
    "scm.inputFontFamily": "monospace",
    "debug.console.fontFamily": "monospace",
    "markdown.preview.fontFamily": "sans",
    "chat.editor.fontFamily": "monospace",
    "chat.fontFamily": "sans",
    "notebook.markup.fontFamily": "sans",
    "editor.fontSize": 15,
    "debug.console.fontSize": 15,
    "markdown.preview.fontSize": 14,
    "terminal.integrated.fontSize": 15,
    "editor.minimap.sectionHeaderFontSize": 15,
    "scm.inputFontSize": 15,
    "chat.editor.fontSize": 15,
    "workbench.statusBar.visible": false,
    "window.menuBarVisibility": "toggle",
    "window.customTitleBarVisibility": "never",
    "window.titleBarStyle": "native",
    "workbench.productIconTheme": "material-product-icons",
    "workbench.iconTheme": "material-icon-theme",
    "workbench.editor.showTabs": "none",
    "window.zoomLevel": 0.4,
    "workbench.colorCustomizations": {
        "foreground": "#{{foreground}}",
        "disabledForeground": "#{{surface4}}",
        "widget.shadow": "#{{background}}",
        "selection.background": "#{{blue}}",
        "focusBorder": "#{{blue}}",
        "descriptionForeground": "#{{surface4}}",
        "errorForeground": "#{{red}}",
        "icon.foreground": "#{{surface4}}",

        "textBlockQuote.background": "#{{surface1}}",
        "textBlockQuote.border": "#{{blue}}",
        "textCodeBlock.background": "#{{background}}",
        "textLink.activeForeground": "#{{cyan}}",
        "textLink.foreground": "#{{blue}}",
        "textPreformat.foreground": "#{{blue}}",
        "textSeparator.foreground": "#{{blue}}",

        "toolbar.hoverBackground": "#{{surface4}}",
        "toolbar.activeBackground": "#{{surface2}}",

        "button.background": "#{{blue}}",
        "button.foreground": "#{{background}}",
        "button.hoverBackground": "#{{blue}}",
        "button.secondaryForeground": "#{{background}}",
        "button.secondaryBackground": "#{{purple}}",
        "button.secondaryHoverBackground": "#{{purple}}",
        "checkbox.background": "#{{background}}",
        "checkbox.foreground": "#{{blue}}",

        "dropdown.background": "#{{background}}",
        "dropdown.listBackground": "#{{background}}",
        "dropdown.foreground": "#{{foreground}}",

        "input.background": "#{{surface1}}",
        "input.border": "#{{blue}}",
        "input.foreground": "#{{foreground}}",
        "input.placeholderForeground": "#{{surface4}}",
        "inputOption.activeBackground": "#{{blue}}",
        "inputOption.activeBorder": "#{{blue}}",
        "inputOption.activeForeground": "#{{background}}",
        "inputValidation.errorBackground": "#{{red}}",
        "inputValidation.errorForeground": "#{{background}}",
        "inputValidation.errorBorder": "#{{red}}",
        "inputValidation.infoBackground": "#{{blue}}",
        "inputValidation.infoForeground": "#{{background}}",
        "inputValidation.infoBorder": "#{{blue}}",
        "inputValidation.warningBackground": "#{{yellow}}",
        "inputValidation.warningForeground": "#{{background}}",
        "inputValidation.warningBorder": "#{{yellow}}",

        "scrollbar.shadow": "#{{surface1}}",
        "scrollbarSlider.activeBackground": "#{{surface4}}",
        "scrollbarSlider.background": "#{{surface2}}",
        "scrollbarSlider.hoverBackground": "#{{surface4}}",

        "badge.background": "#{{background}}",
        "badge.foreground": "#{{foreground}}",

        "progressBar.background": "#{{surface4}}",

        "list.activeSelectionBackground": "#{{background}}",
        "list.activeSelectionForeground": "#{{yellow}}",
        "list.dropBackground": "#{{foreground}}",
        "list.focusBackground": "#{{surface1}}",
        "list.focusForeground": "#{{foreground}}",
        "list.highlightForeground": "#{{foreground}}",
        "list.hoverBackground": "#{{surface1}}",
        "list.hoverForeground": "#{{foreground}}",
        "list.inactiveSelectionBackground": "#{{surface1}}",
        "list.inactiveSelectionForeground": "#{{foreground}}",
        "list.inactiveFocusBackground": "#{{surface1}}",
        "list.invalidItemForeground": "#{{red}}",
        "list.errorForeground": "#{{red}}",
        "list.warningForeground": "#{{yellow}}",
        "listFilterWidget.background": "#{{background}}",
        "listFilterWidget.noMatchesOutline": "#{{red}}",
        "list.filterMatchBackground": "#{{surface1}}",
        "tree.indentGuidesStroke": "#{{surface2}}",

        "activityBar.background": "#{{background}}",
        "activityBar.dropBackground": "#{{foreground}}",
        "activityBar.inactiveForeground": "#{{surface4}}",
        "activityBarBadge.background": "#{{blue}}",
        "activityBarBadge.foreground": "#{{background}}",
        "activityBar.activeBackground": "#{{surface1}}",
        "activityBar.foreground": "#{{foreground}}",
        "activityBar.activeBorder": "#{{blue}}",

        "sideBar.background": "#{{background}}",
        "sideBar.foreground": "#{{foreground}}",
        "sideBar.dropBackground": "#{{surface1}}",
        "sideBarTitle.foreground": "#{{foreground}}",
        "sideBarSectionHeader.background": "#{{surface1}}",
        "sideBarSectionHeader.foreground": "#{{foreground}}",

        "minimap.findMatchHighlight": "#{{yellow}}",
        "minimap.selectionHighlight": "#{{surface2}}",
        "minimap.errorHighlight": "#{{red}}",
        "minimap.warningHighlight": "#{{yellow}}",
        "minimap.background": "#{{background}}",
        "minimap.selectionOccurrenceHighlight": "#{{surface4}}",
        "minimapGutter.addedBackground": "#{{green}}",
        "minimapGutter.modifiedBackground": "#{{purple}}",
        "minimapGutter.deletedBackground": "#{{red}}",

        "editorGroup.background": "#{{background}}",
        "editorGroup.dropBackground": "#{{surface2}}",
        "editorGroupHeader.noTabsBackground": "#{{background}}",
        "editorGroupHeader.tabsBackground": "#{{background}}",
        "editorGroup.emptyBackground": "#{{background}}",
        "editorGroup.dropIntoPromptForeground": "#{{foreground}}",
        "editorGroup.dropIntoPromptBackground": "#{{background}}",
        "tab.activeBackground": "#{{surface1}}",
        "tab.activeBorderTop": "#{{blue}}",
        "tab.unfocusedActiveBackground": "#{{background}}",
        "tab.activeForeground": "#{{foreground}}",
        "tab.inactiveBackground": "#{{background}}",
        "tab.inactiveForeground": "#{{surface4}}",
        "tab.unfocusedActiveForeground": "#{{surface4}}",
        "tab.unfocusedInactiveForeground": "#{{surface4}}",
        "tab.hoverBackground": "#{{surface2}}",
        "tab.unfocusedHoverBackground": "#{{surface2}}",
        "tab.activeModifiedBorder": "#{{blue}}",
        "tab.inactiveModifiedBorder": "#{{blue}}",
        "tab.unfocusedActiveModifiedBorder": "#{{blue}}",
        "tab.unfocusedInactiveModifiedBorder": "#{{blue}}",
        "editorPane.background": "#{{background}}",

        "editor.background": "#{{background}}",
        "editor.foreground": "#{{foreground}}",
        "editorLineNumber.foreground": "#{{surface4}}",
        "editorLineNumber.activeForeground": "#{{surface4}}",
        "editorCursor.foreground": "#{{foreground}}",
        "editor.selectionBackground": "#{{surface2}}",
        "editor.inactiveSelectionBackground": "#{{surface1}}",
        "editor.selectionHighlightBackground": "#{{surface3}}",
        "editor.wordHighlightBackground": "#{{surface3}}",
        "editor.wordHighlightStrongBackground": "#{{surface4}}",
        "editor.findMatchBackground": "#{{yellow}}",
        "editor.findMatchHighlightBackground": "#{{orange}}",
        "editor.findRangeHighlightBackground": "#{{surface1}}",
        "searchEditor.findMatchBackground": "#{{yellow}}",
        "editor.hoverHighlightBackground": "#{{surface2}}",
        "editor.lineHighlightBackground": "#{{surface1}}",
        "editorLink.activeForeground": "#{{blue}}",
        "editor.rangeHighlightBackground": "#{{surface1}}",
        "editorWhitespace.foreground": "#{{surface4}}",
        "editorIndentGuide.background": "#{{surface4}}",
        "editorIndentGuide.activeBackground": "#{{surface4}}",
        "editorInlayHint.background": "#{{surface1}}",
        "editorInlayHint.foreground": "#{{foreground}}",
        "editorInlayHint.typeBackground": "#{{surface1}}",
        "editorInlayHint.typeForeground": "#{{foreground}}",
        "editorInlayHint.parameterBackground": "#{{surface1}}",
        "editorInlayHint.parameterForeground": "#{{foreground}}",
        "editorRuler.foreground": "#{{surface4}}",
        "editorCodeLens.foreground": "#{{surface2}}",
        "editorLightBulb.foreground": "#{{yellow}}",
        "editorLightBulbAutoFix.foreground": "#{{blue}}",
        "editorBracketMatch.background": "#{{surface2}}",
        "editorBracketHighlight.foreground1": "#{{red}}",
        "editorBracketHighlight.foreground2": "#{{orange}}",
        "editorBracketHighlight.foreground3": "#{{yellow}}",
        "editorBracketHighlight.foreground4": "#{{green}}",
        "editorBracketHighlight.foreground5": "#{{blue}}",
        "editorBracketHighlight.foreground6": "#{{purple}}",
        "editorBracketHighlight.unexpectedBracket.foreground": "#{{brown}}",
        "editorOverviewRuler.findMatchForeground": "#{{yellow}}",
        "editorOverviewRuler.rangeHighlightForeground": "#{{surface4}}",
        "editorOverviewRuler.selectionHighlightForeground": "#{{surface2}}",
        "editorOverviewRuler.wordHighlightForeground": "#{{foreground}}",
        "editorOverviewRuler.wordHighlightStrongForeground": "#{{blue}}",
        "editorOverviewRuler.modifiedForeground": "#{{purple}}",
        "editorOverviewRuler.addedForeground": "#{{green}}",
        "editorOverviewRuler.deletedForeground": "#{{red}}",
        "editorOverviewRuler.errorForeground": "#{{red}}",
        "editorOverviewRuler.warningForeground": "#{{yellow}}",
        "editorOverviewRuler.infoForeground": "#{{cyan}}",
        "editorOverviewRuler.bracketMatchForeground": "#{{foreground}}",
        "editorError.foreground": "#{{red}}",
        "editorWarning.foreground": "#{{yellow}}",
        "editorInfo.foreground": "#{{cyan}}",
        "editorHint.foreground": "#{{blue}}",
        "problemsErrorIcon.foreground": "#{{red}}",
        "problemsWarningIcon.foreground": "#{{yellow}}",
        "problemsInfoIcon.foreground": "#{{cyan}}",
        "editorGutter.background": "#{{background}}",
        "editorGutter.modifiedBackground": "#{{purple}}",
        "editorGutter.addedBackground": "#{{green}}",
        "editorGutter.deletedBackground": "#{{red}}",
        "editorGutter.commentRangeForeground": "#{{surface4}}",
        "editorGutter.foldingControlForeground": "#{{foreground}}",

        "diffEditor.insertedTextBackground": "#{{green}}20",
        "diffEditor.removedTextBackground": "#{{red}}20",
        "diffEditor.diagonalFill": "#{{surface2}}",

        "editorWidget.foreground": "#{{foreground}}",
        "editorWidget.background": "#{{background}}",
        "editorSuggestWidget.background": "#{{surface1}}",
        "editorSuggestWidget.foreground": "#{{foreground}}",
        "editorSuggestWidget.focusHighlightForeground": "#{{foreground}}",
        "editorSuggestWidget.highlightForeground": "#{{blue}}",
        "editorSuggestWidget.selectedBackground": "#{{surface2}}",
        "editorSuggestWidget.selectedForeground": "#{{foreground}}",
        "editorHoverWidget.foreground": "#{{foreground}}",
        "editorHoverWidget.background": "#{{background}}",
        "debugExceptionWidget.background": "#{{surface1}}",
        "editorMarkerNavigation.background": "#{{surface1}}",
        "editorMarkerNavigationError.background": "#{{red}}",
        "editorMarkerNavigationWarning.background": "#{{yellow}}",
        "editorMarkerNavigationInfo.background": "#{{blue}}",
        "editorMarkerNavigationError.headerBackground": "#{{red}}20",
        "editorMarkerNavigationWarning.headerBackground": "#{{yellow}}20",
        "editorMarkerNavigationInfo.headerBackground": "#{{cyan}}20",

        "peekViewEditor.background": "#{{surface1}}",
        "peekViewEditorGutter.background": "#{{surface1}}",
        "peekViewEditor.matchHighlightBackground": "#{{orange}}",
        "peekViewResult.background": "#{{background}}",
        "peekViewResult.fileForeground": "#{{foreground}}",
        "peekViewResult.lineForeground": "#{{surface4}}",
        "peekViewResult.matchHighlightBackground": "#{{orange}}",
        "peekViewResult.selectionBackground": "#{{surface2}}",
        "peekViewResult.selectionForeground": "#{{foreground}}",
        "peekViewTitle.background": "#{{surface2}}",
        "peekViewTitleDescription.foreground": "#{{surface4}}",
        "peekViewTitleLabel.foreground": "#{{foreground}}",

        "merge.currentContentBackground": "#{{blue}}40",
        "merge.currentHeaderBackground": "#{{blue}}40",
        "merge.incomingContentBackground": "#{{green}}60",
        "merge.incomingHeaderBackground": "#{{green}}60",
        "editorOverviewRuler.currentContentForeground": "#{{blue}}",
        "editorOverviewRuler.incomingContentForeground": "#{{green}}",
        "editorOverviewRuler.commonContentForeground": "#{{brown}}",

        "panel.background": "#{{background}}",
        "panel.dropBackground": "#{{surface1}}",
        "panel.dropBorder": "#{{surface1}}",
        "panelTitle.activeForeground": "#{{foreground}}",
        "panelTitle.inactiveForeground": "#{{surface4}}",

        "statusBar.background": "#{{surface1}}",
        "statusBar.foreground": "#{{foreground}}",
        "statusBar.debuggingBackground": "#{{surface1}}",
        "statusBar.debuggingForeground": "#{{foreground}}",
        "statusBar.noFolderBackground": "#{{surface1}}",
        "statusBar.noFolderForeground": "#{{foreground}}",
        "statusBarItem.activeBackground": "#{{surface2}}",
        "statusBarItem.hoverBackground": "#{{surface2}}",
        "statusBarItem.prominentForeground": "#{{foreground}}",
        "statusBarItem.prominentBackground": "#{{surface1}}",
        "statusBarItem.prominentHoverBackground": "#{{surface2}}",
        "statusBarItem.remoteBackground": "#{{surface1}}",
        "statusBarItem.remoteForeground": "#{{foreground}}",
        "statusBarItem.errorBackground": "#{{surface1}}",
        "statusBarItem.errorForeground": "#{{foreground}}",
        "statusBarItem.warningBackground": "#{{surface1}}",
        "statusBarItem.warningForeground": "#{{foreground}}",

        "titleBar.activeBackground": "#{{background}}",
        "titleBar.activeForeground": "#{{foreground}}",
        "titleBar.inactiveBackground": "#{{background}}",
        "titleBar.inactiveForeground": "#{{foreground}}",

        "menubar.selectionForeground": "#{{foreground}}",
        "menubar.selectionBackground": "#{{surface1}}",
        "menu.foreground": "#{{foreground}}",
        "menu.background": "#{{background}}",
        "menu.selectionForeground": "#{{foreground}}",
        "menu.selectionBackground": "#{{surface1}}",
        "menu.separatorBackground": "#{{foreground}}",

        "commandCenter.foreground": "#{{foreground}}",
        "commandCenter.activeForeground": "#{{foreground}}",
        "commandCenter.background": "#{{background}}",
        "commandCenter.activeBackground": "#{{surface1}}",

        "notificationCenterHeader.foreground": "#{{foreground}}",
        "notificationCenterHeader.background": "#{{surface1}}",
        "notifications.foreground": "#{{foreground}}",
        "notifications.background": "#{{surface2}}",
        "notificationLink.foreground": "#{{blue}}",
        "notificationsErrorIcon.foreground": "#{{red}}",
        "notificationsWarningIcon.foreground": "#{{yellow}}",
        "notificationsInfoIcon.foreground": "#{{blue}}",

        "notification.background": "#{{surface2}}",
        "notification.foreground": "#{{foreground}}",
        "notification.buttonBackground": "#{{blue}}",
        "notification.buttonHoverBackground": "#{{surface2}}",
        "notification.buttonForeground": "#{{foreground}}",
        "notification.infoBackground": "#{{cyan}}",
        "notification.infoForeground": "#{{background}}",
        "notification.warningBackground": "#{{yellow}}",
        "notification.warningForeground": "#{{background}}",
        "notification.errorBackground": "#{{red}}",
        "notification.errorForeground": "#{{background}}",

        "banner.background": "#{{surface2}}",
        "banner.foreground": "#{{foreground}}",
        "banner.iconForeground": "#{{blue}}",

        "extensionButton.prominentBackground": "#{{green}}",
        "extensionButton.prominentForeground": "#{{background}}",
        "extensionButton.prominentHoverBackground": "#{{surface2}}",
        "extensionBadge.remoteBackground": "#{{orange}}",
        "extensionBadge.remoteForeground": "#{{foreground}}",
        "extensionIcon.starForeground": "#{{yellow}}",
        "extensionIcon.verifiedForeground": "#{{blue}}",
        "extensionIcon.preReleaseForeground": "#{{orange}}",

        "pickerGroup.foreground": "#{{surface4}}",
        "quickInput.background": "#{{surface1}}",
        "quickInput.foreground": "#{{foreground}}",
        "quickInputList.focusBackground": "#{{surface4}}",
        "quickInputList.focusForeground": "#{{foreground}}",
        "quickInputList.focusIconForeground": "#{{foreground}}",

        "keybindingLabel.background": "#{{surface2}}",
        "keybindingLabel.foreground": "#{{foreground}}",

        "keybindingTable.headerBackground": "#{{surface2}}",
        "keybindingTable.rowsBackground": "#{{surface1}}",

        "terminal.background": "#{{background}}",
        "terminal.foreground": "#{{foreground}}",
        "terminal.ansiBlack": "#{{background}}",
        "terminal.ansiRed": "#{{red}}",
        "terminal.ansiGreen": "#{{green}}",
        "terminal.ansiYellow": "#{{yellow}}",
        "terminal.ansiBlue": "#{{blue}}",
        "terminal.ansiMagenta": "#{{purple}}",
        "terminal.ansiCyan": "#{{cyan}}",
        "terminal.ansiWhite": "#{{foreground}}",
        "terminal.ansiBrightBlack": "#{{surface4}}",
        "terminal.ansiBrightRed": "#{{red}}",
        "terminal.ansiBrightGreen": "#{{green}}",
        "terminal.ansiBrightYellow": "#{{yellow}}",
        "terminal.ansiBrightBlue": "#{{blue}}",
        "terminal.ansiBrightMagenta": "#{{purple}}",
        "terminal.ansiBrightCyan": "#{{cyan}}",
        "terminal.ansiBrightWhite": "#{{foreground}}",
        "terminalCursor.foreground": "#{{foreground}}",
        "terminalOverviewRuler.cursorForeground": "#{{red}}",
        "terminalOverviewRuler.findMatchForeground": "#{{red}}",
        
        "debugToolBar.background": "#{{surface1}}",
        "debugView.stateLabelForeground": "#{{foreground}}",
        "debugView.stateLabelBackground": "#{{blue}}",
        "debugView.valueChangedHighlight": "#{{blue}}",
        "debugTokenExpression.name": "#{{purple}}",
        "debugTokenExpression.value": "#{{foreground}}",
        "debugTokenExpression.string": "#{{green}}",
        "debugTokenExpression.boolean": "#{{orange}}",
        "debugTokenExpression.number": "#{{orange}}",
        "debugTokenExpression.error": "#{{red}}",

        "testing.iconFailed": "#{{red}}",
        "testing.iconErrored": "#{{brown}}",
        "testing.iconPassed": "#{{green}}",
        "testing.runAction": "#{{surface4}}",
        "testing.iconQueued": "#{{yellow}}",
        "testing.iconUnset": "#{{surface4}}",
        "testing.iconSkipped": "#{{purple}}",
        "testing.peekHeaderBackground": "#{{surface1}}",
        "testing.message.error.decorationForeground": "#{{foreground}}",
        "testing.message.error.lineBackground": "#{{red}}20",
        "testing.message.info.decorationForeground": "#{{foreground}}",
        "testing.message.info.lineBackground": "#{{blue}}20",

        "welcomePage.background": "#{{background}}",
        "welcomePage.buttonBackground": "#{{surface1}}",
        "welcomePage.buttonHoverBackground": "#{{surface2}}",
        "welcomePage.progress.background": "#{{surface4}}",
        "welcomePage.progress.foreground": "#{{blue}}",
        "welcomePage.tileBackground": "#{{surface1}}",
        "welcomePage.tileHoverBackground": "#{{surface2}}",
        "walkThrough.embeddedEditorBackground": "#{{background}}",


        "gitDecoration.addedResourceForeground": "#{{green}}",
        "gitDecoration.modifiedResourceForeground": "#{{purple}}",
        "gitDecoration.deletedResourceForeground": "#{{red}}",
        "gitDecoration.renamedResourceForeground": "#{{cyan}}",
        "gitDecoration.stageModifiedResourceForeground": "#{{purple}}",
        "gitDecoration.stageDeletedResourceForeground": "#{{red}}",
        "gitDecoration.untrackedResourceForeground": "#{{orange}}",
        "gitDecoration.ignoredResourceForeground": "#{{surface4}}",
        "gitDecoration.conflictingResourceForeground": "#{{yellow}}",
        "gitDecoration.submoduleResourceForeground": "#{{brown}}",

        "settings.headerForeground": "#{{foreground}}",
        "settings.modifiedItemIndicator": "#{{blue}}",
        "settings.modifiedItemForeground": "#{{green}}",
        "settings.dropdownBackground": "#{{surface1}}",
        "settings.dropdownForeground": "#{{foreground}}",
        "settings.checkboxBackground": "#{{surface1}}",
        "settings.checkboxForeground": "#{{foreground}}",
        "settings.rowHoverBackground": "#{{surface2}}",
        "settings.textInputBackground": "#{{surface1}}",
        "settings.textInputForeground": "#{{foreground}}",
        "settings.numberInputBackground": "#{{surface1}}",
        "settings.numberInputForeground": "#{{foreground}}",
        "settings.focusedRowBackground": "#{{surface2}}",
        "settings.headerBorder": "#{{foreground}}",
        "settings.sashBorder": "#{{foreground}}",

        "breadcrumb.foreground": "#{{foreground}}",
        "breadcrumb.background": "#{{background}}",
        "breadcrumb.focusForeground": "#{{foreground}}",
        "breadcrumb.activeSelectionForeground": "#{{foreground}}",
        "breadcrumbPicker.background": "#{{surface1}}",

        "sideBarStickyScroll.background": "#{{background}}",
        "panelStickyScroll.background": "#{{background}}",
        "sideBarStickyScroll.border": "#{{surface1}}",
        "panelStickyScroll.border": "#{{surface1}}",
        "sideBarStickyScroll.shadow": "#{{background}}",
        "panelStickyScroll.shadow": "#{{background}}",
        "editorStickyScroll.background": "#{{background}}",
        "editorStickyScroll.shadow": "#{{background}}",
        "editorStickyScroll.border": "#{{surface1}}",
        "editorStickyScrollHover.background": "#{{surface1}}",

        "editor.snippetTabstopHighlightBackground": "#{{surface2}}",
        "editor.snippetFinalTabstopHighlightBackground": "#{{surface4}}",

        "symbolIcon.arrayForeground": "#{{foreground}}",
        "symbolIcon.booleanForeground": "#{{orange}}",
        "symbolIcon.classForeground": "#{{yellow}}",
        "symbolIcon.colorForeground": "#{{blue}}",
        "symbolIcon.constantForeground": "#{{orange}}",
        "symbolIcon.constructorForeground": "#{{blue}}",
        "symbolIcon.enumeratorForeground": "#{{orange}}",
        "symbolIcon.enumeratorMemberForeground": "#{{blue}}",
        "symbolIcon.eventForeground": "#{{yellow}}",
        "symbolIcon.fieldForeground": "#{{red}}",
        "symbolIcon.fileForeground": "#{{foreground}}",
        "symbolIcon.folderForeground": "#{{foreground}}",
        "symbolIcon.functionForeground": "#{{blue}}",
        "symbolIcon.interfaceForeground": "#{{blue}}",
        "symbolIcon.keyForeground": "#{{blue}}",
        "symbolIcon.keywordForeground": "#{{purple}}",
        "symbolIcon.methodForeground": "#{{blue}}",
        "symbolIcon.moduleForeground": "#{{foreground}}",
        "symbolIcon.namespaceForeground": "#{{foreground}}",
        "symbolIcon.nullForeground": "#{{brown}}",
        "symbolIcon.numberForeground": "#{{orange}}",
        "symbolIcon.objectForeground": "#{{blue}}",
        "symbolIcon.operatorForeground": "#{{blue}}",
        "symbolIcon.packageForeground": "#{{blue}}",
        "symbolIcon.propertyForeground": "#{{foreground}}",
        "symbolIcon.referenceForeground": "#{{blue}}",
        "symbolIcon.snippetForeground": "#{{foreground}}",
        "symbolIcon.stringForeground": "#{{green}}",
        "symbolIcon.structForeground": "#{{yellow}}",
        "symbolIcon.textForeground": "#{{foreground}}",
        "symbolIcon.typeParameterForeground": "#{{blue}}",
        "symbolIcon.unitForeground": "#{{blue}}",
        "symbolIcon.variableForeground": "#{{red}}",

        "debugIcon.breakpointForeground": "#{{red}}",
        "debugIcon.breakpointDisabledForeground": "#{{surface4}}",
        "debugIcon.breakpointUnverifiedForeground": "#{{surface2}}",
        "debugIcon.breakpointCurrentStackframeForeground": "#{{yellow}}",
        "debugIcon.breakpointStackframeForeground": "#{{brown}}",
        "debugIcon.startForeground": "#{{green}}",
        "debugIcon.pauseForeground": "#{{blue}}",
        "debugIcon.stopForeground": "#{{red}}",
        "debugIcon.disconnectForeground": "#{{red}}",
        "debugIcon.restartForeground": "#{{green}}",
        "debugIcon.stepOverForeground": "#{{blue}}",
        "debugIcon.stepIntoForeground": "#{{cyan}}",
        "debugIcon.stepOutForeground": "#{{purple}}",
        "debugIcon.continueForeground": "#{{green}}",
        "debugIcon.stepBackForeground": "#{{brown}}",
        "debugConsole.infoForeground": "#{{foreground}}",
        "debugConsole.warningForeground": "#{{yellow}}",
        "debugConsole.errorForeground": "#{{red}}",
        "debugConsole.sourceForeground": "#{{foreground}}",
        "debugConsoleInputIcon.foreground": "#{{foreground}}",

        "notebook.editorBackground": "#{{background}}",
        "notebook.cellBorderColor": "#{{surface4}}",
        "notebook.cellHoverBackground": "#{{surface1}}",
        "notebook.cellToolbarSeparator": "#{{surface2}}",
        "notebook.cellEditorBackground": "#{{background}}",
        "notebook.focusedCellBackground": "#{{surface2}}",
        "notebook.focusedCellBorder": "#{{blue}}",
        "notebook.focusedEditorBorder": "#{{blue}}",
        "notebook.inactiveFocusedCellBorder": "#{{surface4}}",
        "notebook.selectedCellBackground": "#{{surface2}}",
        "notebookStatusErrorIcon.foreground": "#{{red}}",
        "notebookStatusRunningIcon.foreground": "#{{cyan}}",
        "notebookStatusSuccessIcon.foreground": "#{{green}}",

        "charts.foreground": "#{{foreground}}",
        "charts.lines": "#{{foreground}}",
        "charts.red": "#{{red}}",
        "charts.blue": "#{{blue}}",
        "charts.yellow": "#{{yellow}}",
        "charts.orange": "#{{orange}}",
        "charts.green": "#{{green}}",
        "charts.purple": "#{{purple}}",

        "ports.iconRunningProcessForeground": "#{{orange}}"
    }
}