@define-color background #{{background}};
@define-color surface1 #{{surface1}};
@define-color surface2 #{{surface2}};
@define-color surface3 #{{surface3}};
@define-color surface4 #{{surface4}};
@define-color foreground #{{foreground}};
@define-color foreground #{{foreground}};
@define-color foreground #{{foreground}};
@define-color red #{{red}};
@define-color orange #{{orange}};
@define-color yellow #{{yellow}};
@define-color green #{{green}};
@define-color cyan #{{cyan}};
@define-color blue #{{blue}};
@define-color purple #{{purple}};
@define-color brown #{{brown}};

@define-color bg @background;
@define-color bg2 #{{surface1}};
@define-color bg3 #{{surface2}};
@define-color unfocused #{{surface4}};
@define-color fg @foreground;
@define-color border @surface1;
@define-color accent @blue;
