@define-color background #{{background}};
@define-color foreground #{{foreground}};
@define-color surface1 #{{surface1}};
@define-color accent #{{accent}};

window {
  color: @foreground;
  background: transparent;
}

#outer-box {
  background: @background;
  border: 1px solid @surface1;
  border-radius: 16px;
  padding: 8px;
  /*box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);*/
  color: @foreground;
}

#input, #input:focus {
  margin-bottom: 8px;
  border-radius: 8px;
  background: @surface1;
  border: transparent;
  outline: transparent;
  box-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0 8px;
  color: @foreground;
}

#inner-box {
  border-radius: 8px;
  padding: none;
}

#entry, #selected, #unselected, #entry:focus {
  padding: 4px;
  border-radius: 8px;
  border: transparent;
  outline: transparent;
  font-weight: bold;
}

#entry:selected {
  background: @accent;
}

#entry:selected #text {
  color: @background;
}

#img {
  padding-right: 8px;
}

/*#input > image.left {
  -gtk-icon-transform:scaleX(0);
}*/