set notification-error-bg       "#{{red}}"     # Red
set notification-error-fg       "#{{background}}"   # Foreground
set notification-warning-bg     "#{{orange}}"   # Orange
set notification-warning-fg     "#{{background}}"      # Selection
set notification-bg             "#{{background}}"      # Background
set notification-fg             "#{{foreground}}"   # Foreground

set completion-bg               "#{{background}}"      # Background
set completion-fg               "#{{surface4}}"    # Comment
set completion-group-bg         "#{{background}}"      # Background
set completion-group-fg         "#{{orange}}"    # Comment
set completion-highlight-bg     "#{{surface1}}"      # Selection
set completion-highlight-fg     "#{{foreground}}"   # Foreground

set index-bg                    "#{{background}}"      # Background
set index-fg                    "#{{foreground}}"   # Foreground
set index-active-bg             "#{{surface1}}"      # Current Line
set index-active-fg             "#{{foreground}}"   # Foreground

set inputbar-bg                 "#{{surface1}}"      # Background
set inputbar-fg                 "#{{foreground}}"   # Foreground
set statusbar-bg                "#{{surface1}}"      # Background
set statusbar-fg                "#{{foreground}}"   # Foreground

set highlight-color             "#{{orange}}" # Orange
set highlight-active-color      "#{{blue}}" # Pink

set default-bg                  "#{{background}}"      # Background
set default-fg                  "#{{foreground}}"   # Foreground

set render-loading              true
set render-loading-fg           "#{{background}}"      # Background
set render-loading-bg           "#{{foreground}}"   # Foreground


set recolor-lightcolor          "#{{background}}"      # Background
set recolor-darkcolor           "#{{foreground}}"   # Foreground


set selection-clipboard "clipboard"
set adjust-open width
set recolor true
set font "sans 11"
map J zoom out
map K zoom in
unmap f
map f toggle_fullscreen
map [fullscreen] f toggle_fullscreen
map r reload

map b toggle_page_mode # Toggle dual page mode

set pages-per-row 1