set notification-error-bg       "#{{base08}}"     # Red
set notification-error-fg       "#{{base00}}"   # Foreground
set notification-warning-bg     "#{{base09}}"   # Orange
set notification-warning-fg     "#{{base00}}"      # Selection
set notification-bg             "#{{base00}}"      # Background
set notification-fg             "#{{base05}}"   # Foreground

set completion-bg               "#{{base00}}"      # Background
set completion-fg               "#{{surface4}}"    # Comment
set completion-group-bg         "#{{base00}}"      # Background
set completion-group-fg         "#{{base09}}"    # Comment
set completion-highlight-bg     "#{{surface1}}"      # Selection
set completion-highlight-fg     "#{{base05}}"   # Foreground

set index-bg                    "#{{base00}}"      # Background
set index-fg                    "#{{base05}}"   # Foreground
set index-active-bg             "#{{surface1}}"      # Current Line
set index-active-fg             "#{{base05}}"   # Foreground

set inputbar-bg                 "#{{surface1}}"      # Background
set inputbar-fg                 "#{{base05}}"   # Foreground
set statusbar-bg                "#{{surface1}}"      # Background
set statusbar-fg                "#{{base05}}"   # Foreground

set highlight-color             "#{{base09}}" # Orange
set highlight-active-color      "#{{base0D}}" # Pink

set default-bg                  "#{{base00}}"      # Background
set default-fg                  "#{{base05}}"   # Foreground

set render-loading              true
set render-loading-fg           "#{{base00}}"      # Background
set render-loading-bg           "#{{base05}}"   # Foreground


set recolor-lightcolor          "#{{base00}}"      # Background
set recolor-darkcolor           "#{{base05}}"   # Foreground


set selection-clipboard "clipboard"
set adjust-open width
set recolor true
set font "sans 11"
map J zoom out
map K zoom in
unmap f
map f toggle_fullscreen
map [fullscreen] f toggle_fullscreen
map r reload

map b toggle_page_mode # Toggle dual page mode

set pages-per-row 1