:root {
    --zen-colors-primary: #{{surface1}} !important;
    --zen-primary-color: #{{blue}} !important;
    --zen-colors-secondary: #{{surface1}} !important;
    --zen-colors-tertiary: #{{surface1}} !important;
    --zen-colors-border: #{{blue}} !important;
    --toolbarbutton-icon-fill: #{{blue}} !important;
    --lwt-text-color: #{{foreground}} !important;
    --toolbar-field-color: #{{foreground}} !important;
    --toolbar-textcolor: #{{foreground}} !important;
    --toolbox-textcolor: #{{foreground}} !important;
    --tab-selected-textcolor: #{{foreground}} !important;
    --toolbar-field-focus-color: #{{foreground}} !important;
    --toolbar-color: #{{foreground}} !important;
    --newtab-text-primary-color: #{{foreground}} !important;
    --arrowpanel-color: #{{foreground}} !important;
    --arrowpanel-background: #{{background}} !important;
    --sidebar-text-color: #{{foreground}} !important;
    --lwt-sidebar-text-color: #{{foreground}} !important;
    --lwt-sidebar-background-color: #{{background}} !important;
    --toolbar-bgcolor: #{{surface1}} !important;
    --newtab-background-color: #{{background}} !important;
    --zen-themed-toolbar-bg: #{{background}} !important;
    --zen-main-browser-background: #{{background}} !important;
    --toolbox-bgcolor-inactive: #{{surface1}} !important;
    --zen-themed-toolbar-bg-transparent: #{{surface1}} !important;
    --input-color: #{{foreground}} !important;
    --zen-native-inner-radius: 16px !important;
    --zen-toolbar-height: 48px !important;
    --toolbarbutton-hover-background: #{{surface1}} !important;
    --panel-color: #{{foreground}} !important;
    --panel-border-color: #{{surface1}} !important;
    --panel-border-radius: 16px !important;
    --zen-toolbar-element-bg: #{{surface1}} !important;
    --toolbarbutton-border-radius: 8px !important;
    --button-border-radius: 8px !important;
    }

    .zen-toolbar-background {
    box-shadow: none !important;;
    &::before,
    &::after {
        border: none !important;
        outline: none !important;
    }

    &,
    &::before,
    &::after {
        border-radius: 8px !important;;
    }
    &,
        &::before {
        border: 1px solid #{{surface1}} !important;
    }
    }

    .urlbar {
    :root[zen-single-toolbar="true"] &[breakout-extend="true"], &[zen-floating-urlbar="true"] {
        --urlbar-container-padding: 0 !important;;
    }
    }

    #urlbar[breakout-extend="true"] {
        & .urlbar-background {
        border-radius: 8px !important;
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
        }
    }

    .tab-background {
    //min-height: 40px !important;
    }

    .tab-content {
    padding: 0 8px !important;
    }

    .tabbrowser-tab[zen-essential="true"], #zen-welcome-initial-essentials-browser-sidebar-essentials .tabbrowser-tab {
    &:hover .tab-background {
        background: var(--zen-toolbar-element-bg) !important;
    }
    }

    :is(menupopup, panel) {
    &::part(content) {
        border-radius: 8px !important;
        border: 1px solid #{{surface1}} !important;
        box-shadow: none !important;
    }
    }

    .menupopup-arrowscrollbox {
        border-radius: 8px !important;
        border: 1px solid #{{surface1}} !important;
        box-shadow: none !important;
    }

    menuitem {
    border-radius: 4px !important;
    }

    menuitem {
    &:hover {
    background-color: #{{surface1}} !important;
    }
    }

    menupopup {
    --panel-padding: 8px !important;
    }

    menuseparator {
    &::before {
        border-top: 1px solid #{{surface1}} !important;
        /*border-top: 2px dashed #{{surface1}} !important;*/
        content: "";
        display: block;
        flex: 1;
    }
    }

    zen-workspace {
    --toolbox-textcolor: #{{foreground}} !important;
    }

    #permissions-granted-icon {
    color: #{{foreground}} !important;
    }

    #historySwipeAnimationPreviousArrow,#historySwipeAnimationNextArrow {
    --swipe-nav-icon-primary-color: #{{blue}} !important;
    --swipe-nav-icon-accent-color: #{{background}} !important;
    }

    #sidebar-box {
    background-color: #{{background}} !important;
    }

    .sidebar-placesTree {
    background-color: #{{background}} !important;
    }

    #zen-workspaces-button {
    background-color: #{{background}} !important;
    }

    .urlbar-background {
    background-color: #{{surface1}} !important;
    }

    .content-shortcuts {
    background-color: #{{background}} !important;
    border-color: #{{blue}} !important;
    }

    .urlbarView-url, .urlbarView-title-separator::before {
    color: #{{blue}} !important;
    }

    .urlbarView-row {
    color: #{{foreground}} !important;
    }

    #urlbar-input::selection {
    border-radius: 8px !important;
    background-color: #{{blue}} !important;
    color: #{{background}} !important;
    }

    .urlbarView-row {
    &[selected] {
        & *, & .urlbarView-title-separator::before {
        color: #{{foreground}} !important;
        }
    }
    }

    #zenEditBookmarkPanelFaviconContainer {
    background: #{{background}} !important;
    }

    #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
        &::-moz-range-track {
        background: #{surface2} !important;
        }
    }
    }

    toolbar .toolbarbutton-1 {
    &:not([disabled]) {
        &:is([open], [checked])
        > :is(
            .toolbarbutton-icon,
            .toolbarbutton-text,
            .toolbarbutton-badge-stack
        ) {
        fill: #{{background}};
        }
    }
    }

    .identity-color-blue {
    --identity-tab-color: #{{blue}} !important;
    --identity-icon-color: #{{blue}} !important;
    }

    .identity-color-turquoise {
    --identity-tab-color: #{{cyan}} !important;
    --identity-icon-color: #{{cyan}} !important;
    }

    .identity-color-green {
    --identity-tab-color: #{{green}} !important;
    --identity-icon-color: #{{green}} !important;
    }

    .identity-color-yellow {
    --identity-tab-color: #{{yellow}} !important;
    --identity-icon-color: #{{yellow}} !important;
    }

    .identity-color-orange {
    --identity-tab-color: #{{orange}} !important;
    --identity-icon-color: #{{orange}} !important;
    }

    .identity-color-red {
    --identity-tab-color: #{{red}} !important;
    --identity-icon-color: #{{red}} !important;
    }

    .identity-color-pink {
    --identity-tab-color: #{{purple}} !important;
    --identity-icon-color: #{{purple}} !important;
    }

    .identity-color-purple {
    --identity-tab-color: #{{brown}} !important;
    --identity-icon-color: #{{brown}} !important;
    }

    #zen-toolbar-background {
    --zen-main-browser-background-toolbar: #{{background}} !important;
    }

    #commonDialog {
    background-color: #{{background}} !important;
    }

    #zen-browser-background {
    --zen-main-browser-background: #{{background}} !important;
    }

    menu,
    menuitem,
    menupopup {
    color: #{{foreground}} !important;
    }

    #tabbrowser-tabs {
    & .tabbrowser-tab {
    & .tab-background {
        border-radius: 8px !important;
        box-shadow: none !important;
    }
    }

    .tab-background {
    &:is([selected], [multiselected]) {
        background-color: #{{surface1}} !important;
        outline-color: transparent;
    }
    }

    #urlbar[breakout-extend="true"] {
    &, & .urlbar-background {
        border-radius: 8px !important;
        box-shadow: none !important;
        outline: none !important;
    }
    }
}

#urlbar[open][zen-floating-urlbar="true"] {
    & .urlbar-background {
        background: #{{background}} !important;
        outline: none !important;
        border: 1px solid #{{surface1}} !important;
        border-radius: 16px !important;
    }
    }

    .urlbar-input-container {
    background-color: #{{surface1}} !important;
    border-radius: 8px !important;
    }

    .urlbar[breakout][breakout-extend] {
    & > .urlbar-input-container {
        background-color: #{{surface1}} !important;
        height: 46px !important;
        color: #{{foreground}} !important;
        margin: 8px !important;
        width: calc(100% - 16px) !important;;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    }


    .urlbarView-body-inner {
    #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
        border-top: 1px solid #{{surface1}} !important;
    }
    }


.urlbarView-row-inner {
    border-radius: 8px !important;
}