 /* Common variables affecting all pages */
@-moz-document url-prefix("about:") {
    :root {
    --in-content-page-color: #C9C7CD !important;
    --color-accent-primary: #E19ECA !important;
    --color-accent-primary-hover: #E19ECA !important;
    --color-accent-primary-active: #E19ECA !important;
    background-color: #161617 !important;
    --in-content-page-background: #161617 !important;
    }
}

/* Variables and styles specific to about:newtab and about:home */
@-moz-document url("about:newtab"), url("about:home") {

    :root {
    --newtab-background-color: #161617 !important;
    --newtab-background-color-secondary: #39393B !important;
    --newtab-element-hover-color: #39393B !important;
    --newtab-text-primary-color: #C9C7CD !important;
    --newtab-wordmark-color: #C9C7CD !important;
    --newtab-primary-action-background: #E19ECA !important;
    }

    .icon {
    color: #E19ECA !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
    display: inline-block !important;
    height: 82px !important;
    width: 82px !important;
    background-size: 82px !important;
    }

    @media (max-width: 609px) {
    .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
    }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
    color: #E19ECA !important;
    }

    .top-site-outer .search-topsite {
    background-color: #E19ECA !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
    fill: #90B99F !important;
    }
}

/* Variables and styles specific to about:preferences */
@-moz-document url-prefix("about:preferences") {
    :root {
    --zen-colors-tertiary: #272729 !important;
    --in-content-text-color: #C9C7CD !important;
    --link-color: #E19ECA !important;
    --link-color-hover: #E19ECA !important;
    --zen-colors-primary: #39393B !important;
    --in-content-box-background: #39393B !important;
    --zen-primary-color: #E19ECA !important;
    }

    groupbox , moz-card{
    background: #161617 !important;
    }

    button,
    groupbox menulist {
    background: #39393B !important;
    color: #C9C7CD !important;
    }

    .main-content {
    background-color: #161617 !important;
    }

    .identity-color-blue {
    --identity-tab-color: #E19ECA !important;
    --identity-icon-color: #E19ECA !important;
    }

    .identity-color-turquoise {
    --identity-tab-color: #ACA0CF !important;
    --identity-icon-color: #ACA0CF !important;
    }

    .identity-color-green {
    --identity-tab-color: #90B99F !important;
    --identity-icon-color: #90B99F !important;
    }

    .identity-color-yellow {
    --identity-tab-color: #E6B99D !important;
    --identity-icon-color: #E6B99D !important;
    }

    .identity-color-orange {
    --identity-tab-color: #F5A191 !important;
    --identity-icon-color: #F5A191 !important;
    }

    .identity-color-red {
    --identity-tab-color: #EA83A5 !important;
    --identity-icon-color: #EA83A5 !important;
    }

    .identity-color-pink {
    --identity-tab-color: #EA83A5 !important;
    --identity-icon-color: #EA83A5 !important;
    }

    .identity-color-purple {
    --identity-tab-color: #F5A091 !important;
    --identity-icon-color: #F5A091 !important;
    }
}

/* Variables and styles specific to about:addons */
@-moz-document url-prefix("about:addons") {
    :root {
    --zen-dark-color-mix-base: #272729 !important;
    --background-color-box: #161617 !important;
    }
}

/* Variables and styles specific to about:protections */
@-moz-document url-prefix("about:protections") {
    :root {
    --zen-primary-color: #161617 !important;
    --social-color: #EA83A5 !important;
    --coockie-color: #E19ECA !important;
    --fingerprinter-color: #E6B99D !important;
    --cryptominer-color: #F5A091 !important;
    --tracker-color: #90B99F !important;
    --in-content-primary-button-background-hover: #{surface3} !important;
    --in-content-primary-button-text-color-hover: #C9C7CD !important;
    --in-content-primary-button-background: #{surface3} !important;
    --in-content-primary-button-text-color: #C9C7CD !important;
    }

    .card {
    background-color: #39393B !important;
    }
}

::selection {
    background-color: #39393B !important;
    color: #C9C7CD !important;
}